/* Write your styles here */
h1 {
  font-size: 60px;
  color: #c78b36;
  text-align: center;
}
.des {
  line-height: 25px;
  width: 50%;
  text-align: center;
  margin: auto;

  margin-top: -20px;
}
#container {
  margin-bottom: 15px;
text-align: center;
margin: auto;
  display: flex;
  margin-top: 40px;
  width: 80%;
}
#container > div {
  width: 30%;

  margin: auto;
  text-align: center;
}
#container > div img {
  width: 100%;
}
h2 + p {
  color: #c78b36;
}
